<p>
  <strong>Name:</strong>
  <%= option.name %>
</p>
<p>
  <strong>correct:</strong>
  <%= option.correct %>
</p>
<p>
  <%= link_to "Destroy Options", [option.question, option], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
</p>
