<div id="<%= dom_id studenttest %>">
  <p>
    <strong>Student:</strong>
    <%= studenttest.student_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= studenttest.subject_id %>
  </p>

</div>
