<h1>Editing studenttest</h1>

<%= render "form", studenttest: @studenttest %>

<br>

<div>
  <%= link_to "Show this studenttest", @studenttest %> |
  <%= link_to "Back to studenttests", studenttests_path %>
</div>
