<%= form_with model: @subject do |form| %>
	<div>
		<%= form.label :sub_name %>
		<%= form.text_field :sub_name %>
	</div>
	<div>
		<%= form.button "Submit", class: 'btn btn-primary' %>	
	</div>
<% end %>
